# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Space X.iml
# Datasource local storage ignored files
/../../../../../../../:\GitProjects\Space X\Space X\.idea\.idea.Space X\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
